<!DOCTYPE html>
<html>
  <head>
    <title>Werewolf25</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <hr>
    Pull Request is so welcome!!
    <%= link_to 'https://github.com/pandeiro245/werewolf25', 'https://github.com/pandeiro245/werewolf25', target: '_blank' %>
  </body>
</html>
